<body>
  <div class="about-section h-screen">
    <h2 class="bloque1">Conoce a TheftStopper</h2>
    <p class="bloque2">
      Nuestra empresa se encarga de diseñar aplicativos web, nos gusta decir mucho pamplinas y xd.
    </p>
    <div class="team-container">
      <div class="team-member" *ngFor="let member of teamMembers">
        <img src="{{member.image}}" alt="{{member.name}}">
        <h3>{{member.name}}</h3>
        <p class="role">{{member.role}}</p>
      </div>
    </div>
  </div>
</body>





  