<div  class="forum  font-serif">
    <div class="bg-white justify-start ">
      <div>
        <div >
          <div class="m-6 pb-6 bg-white rounded shadow-lg">
            <mat-card formControlName="card">
              <mat-card-content class="text-start pl-4 bg-white">
                <div class="bg-red-400 w-full h-full p-2 rounded-t text-x l">
                  <p class="text-white font-semibold">publicacion.autorpubli</p>
                </div>
                <div class="p-4 border-t border-slate-500">
                  <p>UNCOMENTARIO</p>
                </div>
                <div class="flex justify-between">
                  <div class="items-center">
                    <div class=" justify-start">
                      <mat-form-field appearance="fill" class="flex-grow">
                        <mat-label>Responder</mat-label>
                        <input matInput>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="justify-end space-x-4 pb-6 text-gray-600 mt-2">
                    <button mat-icon-button class="flex-shrink-0">
                      <mat-icon>favorite</mat-icon>
                    </button>
                    <button mat-icon-button>
                      <mat-icon>comment</mat-icon>
                    </button>
                    <button mat-icon-button>
                      <mat-icon>share</mat-icon>
                    </button>
                  </div>
                </div>
                
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>     
  </div>  