<body class="bg-slate-950 text-slate-50 font-serif">    
    <main class=" text-center">
        <section class="mx-auto h-[85vh] bg-cover bg-center bg-[url('https://i.gifer.com/1GVA.gif')] " >
            <div class="grid items-center">
                <h2 class="text-3xl pb-10 pt-[25vh]">Revolucionando la seguridad en el Perú</h2>
                <div class="w-96 pb-5 m-auto p-auto">
                <p class="text-xl place-content-center text-center flex">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Quia tempore ullam doloribus ratione laboriosam, minima facilis dolores, nihil eaque architecto numquam, 
                    reprehenderit impedit. Blanditiis consequuntur, magnam qui unde asperiores a.</p>
                </div>
            </div>    
        </section>
        <section class="relative min-h-screen bg-black">
            <div class="absolute inset-0 bg-center bg-cover bg-[url('https://i.gifer.com/1GVA.gif')] opacity-50"></div>
            <div class="absolute inset-0 bg-black bg-opacity-40"></div>

            <div class="relative container mx-auto text-white py-16">
                <h2 class="text-3xl text-center font-bold mb-8">ThefStopper como idea</h2>
                <div class="grid grid-cols-1 gap-10 md:gap-16">
                    
                    <div class="bg-gray-800 bg-opacity-75 p-6 rounded-lg">
                        <h3 class="text-2xl font-serif mb-4">¿Cómo nació ThefStopper?</h3>
                        <p class="text-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia tempore ullam doloribus ratione laboriosam, minima facilis dolores, nihil eaque architecto numquam, reprehenderit impedit. Blanditiis consequuntur, magnam qui unde asperiores a.</p>
                    </div>
                </div>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-10 md:gap-16 mt-10">
                    
                    <div class="bg-gray-800 bg-opacity-75 p-6 rounded-lg">
                        <h3 class="text-2xl font-serif mb-4">Misión</h3>
                        <p class="text-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia tempore ullam doloribus ratione laboriosam, minima facilis dolores, nihil eaque architecto numquam, reprehenderit impedit. Blanditiis consequuntur, magnam qui unde asperiores a.</p>
                    </div>
                    
                    <div class="bg-gray-800 bg-opacity-75 p-6 rounded-lg">
                        <h3 class="text-2xl font-serif mb-4">Visión</h3>
                        <p class="text-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia tempore ullam doloribus ratione laboriosam, minima facilis dolores, nihil eaque architecto numquam, reprehenderit impedit. Blanditiis consequuntur, magnam qui unde asperiores a.</p>
                    </div>
                </div>

                <h2 class="text-xl text-start font-serif mb-8 mt-10">Para ello utilizamos tecnologías como:</h2>
                <div class="justify-around m-auto flex ">
                    <img src="https://i.ibb.co/8YM8xY9/pngwing-com.png" class="w-auto h-40" alt="">
                    <img src="https://i.ibb.co/PN66VkP/pngegg.png" class="w-70 h-[20vh]" alt="">
                    <img src="https://mldmzpxpbp0x.i.optimole.com/miaE6n8-TKi784P4/w:auto/h:auto/q:auto/https://www.yessinfotech.com/wp-content/uploads/2019/11/spring-boot-logo.png" class="w-auto h-[20vh] mt-15" alt="">
                    
                </div>
            </div>
            <div class="align-bottom">  
                <h4>No hay derechos reservados, es un proyecto, pero dennos créditos si lo van a tomar de ejemplo los tkm</h4>
            </div> 
        </section>
        
    </main>

    

</body>

